
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.login-link {
    text-decoration: none;
    color: #233975;
}

.login-link:hover {
    text-decoration: underline;
}

.small {
    font-size: 80%;
    text-align: center;
}

.register-container {
    display: flex;
    flex-direction: column;
}

.register-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: url("https://res.cloudinary.com/immeraj/image/upload/v1642527574/undraw_Waiting__for_you_ldha_kyl7sw.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.register-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: whitesmoke;
    color: white;
    text-align: center;
}

.register-copy-left {
    margin-top: 60vh;
    color: black;
    text-align: center;
}

.register-copy-left h1 {
    margin-bottom: 15px;
}

.register-copy-right {
    color: black;
    text-align: center;
}

.register-left > p {
    font-weight: 400;
}

.register-right .register-copy {
    color: black;
    text-align: center;
}

.register-right, .register-copy > p {
    font-size: 0.875rem;
}

.register-form {
    width: 328px;
}

.signup-username, .signup-password, .signup-email {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25em;
    font-size: 0.875rem;
}

.username-label, .password-label, .email-label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.75rem;
    color: black;
    text-align: left;
}

.signup-btn {
    display: block;
    width: 100%;
    background: #233975;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.signup-btn:hover {
    background: #2c4893;
}

@media screen and (min-width: 900px) {
    .register-container {
        flex-direction: row;
        height: calc(100vh - 80px);
    }

    .register-left {
        display: flex;
        height: auto;
        width: 50%;
    }

    .register-right {
        display: flex;
        height: auto;
        width: 50%;
    }
}